/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #ff0000; /* Red font color */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  margin-top: 0;
}

/* Header Styles */
.header {
  background-color:orange;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.form-group input[type="url"],
.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 120px;
  resize: none;
}
.navbar-brand-fw-bold-text-primary {
    color:#ff0000;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #ff0000;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #333;
}

/* Blog Card Styles */
.blog-card {
  background-color: #f10404;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.blog-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.blog-card a {
  color:red;
  text-decoration: none;
}

/* Blog Modal Styles */
.modal-content {
  border-radius: 8px;
}

.blog__modal__body img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.blog__modal__body h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.blog__modal__body p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Success and Error Messages Styles */
.message {
  display: none;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.success-message {
  background-color: #28a745;
}

.error-message {
  background-color: #dc3545;
}
